.DS_Store
**/.DS_Store
**/_build*/
**/.build*/
**/deps/
**/cover/
**/doc/
**/tmp/
**/.elixir_ls/
**/erl_crash.dump
**/__pycache__/
**/*.py[cod]
**/*.tar
/iconvex_release_*/
!/iconvex_release_0.1.0/
!/iconvex_release_0.1.0/README.md
!/iconvex_release_0.1.0/manifests/
!/iconvex_release_0.1.0/manifests/SHA256SUMS
!/iconvex_release_0.1.0/manifests/HEX_CHECKSUMS
!/iconvex_release_0.1.0/manifests/artifact_summary.tsv
!/iconvex_release_0.1.0/tarballs/
!/iconvex_release_0.1.0/tarballs/*.tar
